body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
  color: #333;
}
.header-content{
  display: flex;
  justify-content: space-evenly;
  background-color: #333;
  color: white;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
  height: 10vh;
  top: 0; 
  position: fixed; 
  z-index: 1000; 
}
.main{
  margin: 100px auto 0;
}
.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.search-bar {
  text-align: center;
}

.search-bar input {
  width: 60%;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 50px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.search-bar input:focus {
  border-color: #007BFF;
  outline: none;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.movie-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 20px;
  width: 220px;
  height:50vh;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.movie-item img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 20px;
  height: 40%;
}

.movie-item h3 {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 600;
}

.movie-item p {
  color: #666;
  font-size: 14px;
  margin: 5px 0;
}

.movie-item button {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 14px;
  transition: background-color 0.3s;
}

.movie-item button:hover {
  background-color: #0056b3;
}

.movie-detail {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 30px;
  text-align: center;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-detail img {
  width: 100px;
  border-radius: 12px;
  margin-bottom: 20px;
  height: 50%;
}

.movie-detail h2 {
  margin: 15px 0;
  font-size: 24px;
  font-weight: 600;
}

.movie-detail p {
  color: #666;
  font-size: 16px;
  margin: 10px 0;
}

.favorite-movies {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 30px;
  margin-top: 20px;
  width: 100%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.favorite-movies h2 {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 600;
}

.favorite-movies ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.favorite-movies li {
  background-color: #f9f9f9;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: background-color 0.3s;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height:40vh;
}

.favorite-movies li:hover {
  background-color: #f1f1f1;
}

.favorite-movies img {
  width: 100%;
  height: 50%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.favorite-movies button {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 5px 15px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  
}

.favorite-movies button:hover {
  background-color: #c82333;
}
